body {
    background-color: rgb(235, 177, 101);
}

h1 {
    color: rgb(122, 179, 152);
}

.topHeaderColor {
    color: white;
}

p {
    color: rgb(72, 73, 1);
    font-optical-sizing: 20px;
}

h3 {
    color: cornflowerblue;
    font-optical-sizing: xx-large;
}

.contactFont {
    font-size: 40px;
}

.gallery {
    margin: 5px;
    border: 1px solid rgb(165, 78, 78)
}

.imageAlign {
    float: right;
    margin-right: 25%;
}

.aboutMeText {
    color: seagreen;
    font-optical-sizing: xx-large;
}

nav {
    margin: 0;
    padding: 14px 16px;
    width: 100%;
    background-color: rgb(45, 99, 74);
    box-sizing: border-box;
    /*display: inline-flex;
    position: relative;*/
    /*float: left;*/
    text-align: center;    
}

nav a {
    padding: 14px 16px;
    color: white;
}

a {
    text-decoration: none;
}